//通用白色标题文字
.title-font{
  font-size: 30rpx;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: $main-text-color;
  line-height: 30rpx;
}
//通过小标题文字
.mini-title-font{
  font-size: 30rpx;
  font-family: AlibabaPuHuiTi-Medium, AlibabaPuHuiTi;
  font-weight: 500;
  color: $main-text-color;
  line-height: 30rpx;
}
//通用页面文字
.page-font{
  font-size: 28rpx;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: $main-text-color;
  line-height: 30rpx;
}
//通过页面说明文字
.page-desc-font{
  font-size: 26rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: $uni-text-color-grey;
  line-height: 30rpx;
}
